<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupons</title>
    <link rel="stylesheet" href="/View/styles/coupons.css">
</head>
<body>
    <div>
        <h1><b>COUPONS</b></h1>
        <h2>!! Riscuoti il tuo regalo !!</h2>
    </div>
    <div class="coupon-insert">
        <form>
            <label for="coupons">Inserisci il codice coupon:</label>
            <input type="text" id="code" name="code" pattern="\d{3}[A-Z]{2}\d{2}" title="Il codice deve seguire il formato 3 cifre, 2 lettere maiuscole e 2 cifre" required>
            <input type="submit" value="Controlla">
        </form>
    </div>
    <script type="module" src="/View/scripts/coupons.js"></script>
    
</body>
</html>